<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="index-wax"
   name="NutchWAX Indexing Filter"
   version="1.0.0"
   provider-name="archive.org">

   <runtime>
      <library name="index-wax.jar">
         <export name="*"/>
      </library>
        <!--Alternative is to change the nutch script so that it
        includes libs from other than its local directory.  Without that,
        need to have lib local to plugin.-->
        <library name="archive-commons-1.11.0-200612262257.jar" />
   </runtime>

   <extension id="org.archive.access.nutch.indexer"
              name="Internet Archive Indexing Filter"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="WaxIndexingFilter"
        class="org.archive.access.nutch.indexer.WaxIndexingFilter"/>
   </extension>

</plugin>
