<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="query-content"
   name="Content Query Filter"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="query-content.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.searcher.content.ContentQueryFilter"
              name="Nutch Content Query Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="ContentQueryFilter"
                      class="org.apache.nutch.searcher.content.ContentQueryFilter">
        <parameter name="fields" value="content"/>
      </implementation>
      
   </extension>

</plugin>
