<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="query-anchor"
   name="Anchor Query Filter"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="query-anchor.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.searcher.anchor.AnchorQueryFilter"
              name="Nutch Anchor Query Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="AnchorQueryFilter"
                      class="org.apache.nutch.searcher.anchor.AnchorQueryFilter">
        <parameter name="fields" value="anchor"/>
      </implementation>
      
   </extension>

</plugin>
